<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="icon" type="image/png" href={{ url_for('static', path='icon.png') }} />
        <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="sidenav">
            <img src={{ url_for('static', path='logo_vw.png') }} id="Logo">
            <button class="w3-bar" onclick="w3_close()">&times;</button>
            <center>
                <ul>
                    <li><a href="/home" id="liennav">Home</a></li>
                    <li><a href="/home" id="liennav">Météo</a></li>
                </ul>
            </center>
        </div>
        <div id="main">
            <h1><button id="openNav" class="w3-button" onclick="w3_open()">&#9776;</button></h1>
            <h1>Vocal Weather</h1>
            <h2>Bienvenue</h2>
            <p>resultat :</p>
            <p>{{meteo_r}}</p>
        </div>
    </body>
    <script>
        function w3_open() {
          document.getElementById("main").style.marginLeft = "25%";
          document.getElementById("mySidebar").style.width = "25%";
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
          document.getElementById("main").style.marginLeft = "0%";
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
</html>